<footer class="sticky-footer bg-white mt-auto">
    <div class="container my-auto">
        <div class="text-center my-auto">
            <span>&copy; @DateTime.UtcNow.Year HouseBuildingFinance - Developed By IT Division</span>
        </div>
    </div>
</footer>
